/* This is the style code for Dasmotos ARts_Crafts */

* {
  font-family: helvetica;
}
/* This is the Headline Section */
h1 {
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
  background-image: url("../images/pattern.jpeg");
}
/* Here is the style section for the brushes, frames, paint sections */
div h2 {
  font-size: 32px;
  font-weight: bold;
  color: white;
}
#brushes h2 {
  background-color: mediumspringgreen
}
#frames h2 {
  background-color: lightcoral
}
#paint h2 {
  background-color: skyblue
}
.prices {
  color: blue;
}
